<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.5.2.8" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.5.1.25" />
  <package id="AWSSDK.Core" version="3.5.2.7" />
  <package id="AWSSDK.Lambda" version="3.5.7.2" />
  <package id="AWSSDK.SecurityToken" version="3.5.1.47" />
</packages>